@font-face {
  font-family: 'American Typewriter';
  src: url('../fonts/American-Typewriter-Regular.ttf');
}

.homepage {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.background {
  width: 650px;
  position: relative;
}

.plane-scroller {
  position: fixed;
  left: 0;
  max-height: 10%;
  animation: plane 3s linear forwards;
  z-index: 1;
}

/* HI... */
.about-me {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: swing 2s ease forwards;
}

.about-me span {
  position: absolute;
  font-size: 2rem;
}

.first-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.first-panel span {
  margin-bottom: 10rem;
}

.cat {
  position: absolute;
  width: 500px;
}

/* Caption */
.caption {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caption p {
  position: absolute;
  max-width: 25%;
  max-height: 60%;
  overflow: auto;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.5;
  font-size: large;
}


/* SHOWS*/
.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: swing 2s ease forwards;
}
.show h1 {
  top: 0%;
  font-size: 1rem;
}
.left-right-buttons {
  display: flex;
  justify-content: center;
  max-width: 650px;
}
.watching {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: max-content;
}

.reading {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.framed {
  rotate: 90deg;
  max-width: 40%;
  margin-top: 5%;
  padding: 1%;
  box-shadow: inset 0 -3em 3em black,
  0 0 3px 10px rgb(233, 233, 233);
}

/* CONTACTS */
.contacts {
  display: flex;
  justify-content: center;
  margin: 0px;
  width: 100%;
  bottom: 0;
}

.contacts .logos {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contacts a img {
  max-width: 100%;
}

.logo:nth-child(2) {
  transition-delay: 200ms;
}
.logo:nth-child(3) {
  transition-delay: 400ms;
  width: 75px;
}
.logo:nth-child(4) {
  transition-delay: 600ms;
}
.logo:nth-child(5) {
  transition-delay: 800ms;
}
.logo:nth-child(6) {
  transition-delay: 1000ms;
}

@keyframes plane {
  0% {
    transform: translateX(0vw) translateY(400%) rotate(0deg);
  }
  10% {
    transform: translateX(10vw) translateY(300%) rotate(3deg);
  }
  20% {
    transform: translateX(20vw) translateY(250%) rotate(6deg);
  }
  30% {
    transform: translateX(30vw) translateY(150%) rotate(9deg);
  }
  40% {
    transform: translateX(40vw) translateY(100%) rotate(12deg);
  }
  50% {
    transform: translateX(50vw) translateY(50%) rotate(15deg);
  }
  60% {
    transform: translateX(60vw) translateY(25%) rotate(18deg);
  }
  70% {
    transform: translateX(70vw) translateY(15%) rotate(21deg);
  }
  80% {
    transform: translateX(80vw) translateY(10%) rotate(24deg);
  }
  90% {
    transform: translateX(90vw) translateY(5%) rotate(27deg);
  }
  100% {
    transform: translateX(100vw) translateY(0%) rotate(30deg);
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (max-width : 650px) {
  .content {
    flex-direction: column;
    overflow-y: auto;
  }

  .cat {
    width: 325px;
  }

  .background {
    width: 400px;
  }
}

@media (max-width : 400px) {
  .content {
    flex-direction: column;
    overflow-y: auto;
  }

  .cat {
    width: 275px;
  }

  .background {
    width: 350px;
  }
}