@font-face {
  font-family: 'American Typewriter';
  src: url('../fonts/American-Typewriter-Regular.ttf');
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; 
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: American Typewriter;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
  white-space: nowrap;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.about-me,
.languages,
.achievements,
.watching,
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 25vh;
  margin-bottom: 25vh;
}

/* HI... */
.about-me {
  flex-direction: row;
  justify-content: space-around;
}

.about-me p {
  max-width: 35%;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  font-size: 2rem;
}

.about-me span{
  display: inline;
  font-size: 300px;
}

/* I'M FAMILIAR WITH... */
.languages {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}
.grid-container {
  display: flex;
  align-items: center;
  white-space: normal;
  word-wrap: break-word;
}
.languages .frontend {
  max-width: 50%;
}
.languages h1 {
  grid-column: 1 / 3;
  font-size: 8em;
  padding-left: 5%;
}
.languages p {
  font-size: 1.4rem;
}
.languages img {
  max-width: 20%;
  padding: 5%;
}



.watching {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(162, 221, 156);
}

.contacts {
  background-color: rgb(160, 245, 171);
}
