/* RETURN BUTTON */
.return {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1rem;
}

.symbol {
    transition: all .1s ease;
    font-size: 3rem;
    color: black;
}

.symbol:hover {
    color: rgb(227, 227, 227);
}

/*SLIDES*/
.slides {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button-top {
    position: relative;
    height: 100vh;
    margin-left: 3rem;
    margin-right: 3rem;
    background: transparent;
    font-size: 3rem;
    color: black;
}
.button-bot {
    position: relative;
    font-size: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background: transparent;
    color: black;
}
.content-left {
    background: transparent;
    font-size: 3rem;
    position: fixed;
    top: 50%;
    left: 25%;
    color: black;
}
.content-right {
    background: transparent;
    font-size: 3rem;
    position: fixed;
    right: 25%;
    top: 50%;
    color: black;
}
.feed-content {
    display: flex;
    align-items: center;
}
.height-setter {
    height: 100vh;
}
.feed-interface {
    display: flex;
    flex-direction: row;
}

/* START PANEL */
.start-panel {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:solid 6px #41403E;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 5rem;
}

.comic-header img{
    margin: 5rem;
}


/* TEXT */
.text-body {
    position: relative;
    margin: 20px;
    padding: 20px;
    font-size: 1.5rem;
    background-color: white;
    padding: 2rem;
    max-width: 30vw;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:solid 6px #41403E;
    line-height: 1.5;
}

@media (max-width : 1200px) {
    .text-body {
        max-width: 50vw;
        margin: 20px;
    }
    .comic-header img{
        max-width: 100vw;
    }
    .height-setter {
        height: 0%;
    }
    .feed-interface {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .left-button-position {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-left {
        position: static;
    }
    .content-right {
        position: static;
    }
    .slides {
        height: 100vh;
        flex-direction: column;
        align-items: center;
    }
    .button-top {
        height: auto;
        margin-top: 4rem;
    }
}

@media (max-width : 650px) {
    .text-body {
        max-width: 70vw;
    }
    .comic-header img{
        max-width: 100vw;
    }
    .return {
        font-size: 2rem;
    }
}

@media (max-width : 375px) {
    .return {
        font-size: 2rem;
    }

    .comic-header img{
        max-width: 100vw;
    }

    .text-body {
        max-width: 90vw;
    }

    .slides button {
        font-size: 2rem;
    }
}