/* RETURN BUTTON */
.return {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 3rem;
    padding: 1rem;
}

.symbol {
    color: black;
}

/*SLIDES*/
.slides {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.slides button {
    padding: 3rem;
    background: transparent;
    font-size: 3rem;
}

/* START PANEL */
.start-panel {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:solid 6px #41403E;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 5rem;
}

.comic-header img{
    margin: 5rem;
}


/* TEXT */
.text-body {
    margin: 20px;
    padding: 20px;
    font-size: 1.5rem;
    background-color: white;
    padding: 2rem;
    max-width: 30vw;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:solid 6px #41403E;
    line-height: 1.5;
}

@media (max-width : 1200px) {
    .text-body {
        max-width: 50vw;
    }
}

@media (max-width : 650px) {
    .text-body {
        max-width: 70vw;
    }

    .return {
        font-size: 2rem;
    }
}

@media (max-width : 375px) {
    .return {
        font-size: 2rem;
    }

    .comic-header img{
        max-width: 100vw;
    }

    .text-body {
        max-width: 90vw;
    }

    .slides button {
        font-size: 2rem;
    }
}