@font-face {
  font-family: 'Indie Flower';
  src: url('../fonts/IndieFlower-Regular.ttf');
}

button {
  border: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background: white;
    background-size: cover;
  }
}
