.nav {
    margin-left: auto;
    transform: rotate(270deg);
}

/* .nav-toggle {
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: transparent;
    padding: 0;
    flex-shrink: 0;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.link-button {
    width: 50px;
}

.nav-option {
    position: relative;
    display: inline-block;
    animation-name: pop;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-direction: normal;
} */

.helper {
    margin-left: auto;
    transform: translateX(-55px) translateY(-25px) rotateZ(45deg);
}

/* .delay-1 {
    animation-delay: 0s;
}

.delay-2 {
    animation-delay: 0.5s;
}

.delay-3 {
    animation-delay: 1s;
}

.delay-4 {
    animation-delay: .1s;
}

@keyframes pop {
    0% { 
        transform: translateX(200%);
        opacity: 0;
    }
    100% { 
        transform: translateX(0%);
        opacity: 1;
    }
} */